In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv(r'C:\Users\Laptop EDG\Downloads\HW08\data_hw08.csv')
data.head(4)

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K

In [3]:
data.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education.num',
       'marital.status', 'occupation', 'relationship', 'race', 'sex',
       'capital.gain', 'capital.loss', 'hours.per.week', 'native.country',
       'income'],
      dtype='object')

In [15]:
data.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education.num      int64
marital.status    object
occupation        object
relationship      object
race              object
sex               object
capital.gain       int64
capital.loss       int64
hours.per.week     int64
native.country    object
income            object
dtype: object

In [13]:
list(data.dtypes)

[dtype('int64'),
 dtype('O'),
 dtype('int64'),
 dtype('O'),
 dtype('int64'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('O'),
 dtype('O')]

In [8]:
data.dtypes[data.dtypes.values=='object']

workclass         object
education         object
marital.status    object
occupation        object
relationship      object
race              object
sex               object
native.country    object
income            object
dtype: object

In [9]:
data.dtypes[data.dtypes.values=='int64']

age               int64
fnlwgt            int64
education.num     int64
capital.gain      int64
capital.loss      int64
hours.per.week    int64
dtype: object

In [19]:
df=pd.DataFrame({'Pandas_Dtype':list(data.dtypes),
             'python_type':np.linspace(1,15,15),
             'Missing_value':np.linspace(1,15,15),
             '% Missing_value':np.linspace(1,15,15)})
df

   Pandas_Dtype  python_type  Missing_value  % Missing_value
0         int64          1.0            1.0              1.0
1        object          2.0            2.0              2.0
2         int64          3.0            3.0              3.0
3        object          4.0            4.0              4.0
4         int64          5.0            5.0              5.0
5        object          6.0            6.0              6.0
6        object          7.0            7.0              7.0
7        object          8.0            8.0              8.0
8        object          9.0            9.0              9.0
9        object         10.0           10.0             10.0
10        int64         11.0           11.0             11.0
11        int64         12.0           12.0             12.0
12        int64         13.0           13.0             13.0
13       object         14.0           14.0             14.0
14       object         15.0           15.0             15.0

In [20]:
df.index=data.columns
df

               Pandas_Dtype  python_type  Missing_value  % Missing_value
age                   int64          1.0            1.0              1.0
workclass            object          2.0            2.0              2.0
fnlwgt                int64          3.0            3.0              3.0
education            object          4.0            4.0              4.0
education.num         int64          5.0            5.0              5.0
marital.status       object          6.0            6.0              6.0
occupation           object          7.0            7.0              7.0
relationship         object          8.0            8.0              8.0
race                 object          9.0            9.0              9.0
sex                  object         10.0           10.0             10.0
capital.gain          int64         11.0           11.0             11.0
capital.loss          int64         12.0           12.0             12.0
hours.per.week        int64         13.0           13.0             13.0
native.country       object         14.0           14.0             14.0
income               object         15.0           15.0             15.0

In [21]:
for i in data.loc[1,:]

age                            82
workclass                 Private
fnlwgt                     132870
education                 HS-grad
education.num                   9
marital.status            Widowed
occupation        Exec-managerial
relationship        Not-in-family
race                        White
sex                        Female
capital.gain                    0
capital.loss                 4356
hours.per.week                 18
native.country      United-States
income                      <=50K
Name: 1, dtype: object