In [2]:
import numpy as np
import pandas as pd

In [3]:
%config Completer.use_jedi=False

In [4]:
sample=pd.read_csv(r'C:\Users\Laptop EDG\Downloads\HW_4\sample_data.csv')
sample.head(5)

,account_id,ad_id,event_name,timestamp,platform,category_name,region_name,condition_ad_name,price
0,249683985899310273,-159265360436186278,order,2018-05-16 17:33:18.350333,on_behalf,Cars,Đông Bắc Bộ,Mới,267000000.0
1,2753457128963724056,-6487219347028929285,order,2018-05-04 16:03:08.099983,on_behalf,Cars,Đông Bắc Bộ,Mới,399000000.0
2,2753457128963724056,-6487219347028929285,order,2018-05-03 15:13:42.447070,on_behalf,Cars,Đông Bắc Bộ,Mới,399000000.0
3,-4397739266189556976,4054922453976773054,order,2018-05-23 11:15:25.932663,on_behalf,Cars,Hà Nội,Mới,705000000.0
4,-8143274583979068266,3202538754056800998,order,2018-05-15 17:53:01.634923,on_behalf,Cars,Hà Nội,Mới,696000000.0

### 1- How many distinct account_id on each platform?

In [6]:
sample.account_id.nunique()

108990

In [7]:
sample.groupby('platform').account_id.nunique()

platform
android         10789
desktop_web     11910
ios             10773
mobile_web       6154
on_behalf          36
unknown        108990
Name: account_id, dtype: int64

### 2- How many distinct ad_id on each platform?

In [8]:
sample.groupby('platform').ad_id.nunique()

platform
android         130551
desktop_web     144673
ios             144161
mobile_web       40165
on_behalf           82
unknown        3669226
Name: ad_id, dtype: int64

### 3- For each category_name how many ad is advertised?

In [9]:
sample.groupby('category_name').ad_id.count()

category_name
Accessories                    121942
Aircon                            275
Bags                            10470
Bed & bedding                     453
Bicycles                        23474
                                ...
Trucks                          52772
Vehicles parts, Accessories     56459
Video games                       662
Washing machine                   202
Watch                           74707
Name: ad_id, Length: 64, dtype: int64

In [10]:
sample.category_name.value_counts()

PTY-Houses                       842357
Mobile Phones                    781435
Motorbikes                       528333
PTY-Land                         415120
Computers, Laptops               351123
                                  ...
Other household items 14110         139
Ornamental plant & decoration        41
Other pet                            36
Fan                                  12
Lighting                              9
Name: category_name, Length: 64, dtype: int64

### 4- Give me top 5 category_name having the highest number of ads?

In [11]:
sample.category_name.value_counts().head(5)

PTY-Houses            842357
Mobile Phones         781435
Motorbikes            528333
PTY-Land              415120
Computers, Laptops    351123
Name: category_name, dtype: int64

### 5- Give me top 5 category_name having lowest number of ads?

In [12]:
sample.category_name.value_counts().tail(5)

Other household items 14110      139
Ornamental plant & decoration     41
Other pet                         36
Fan                               12
Lighting                           9
Name: category_name, dtype: int64

### 6- Give me the average price for all distinct ads within each category?

### 7- Give me the average price for all distinct ads within each region_name?

### 8- Give details of condition_ad_name for all ads within each category? For example, for category cars, how may ads is 'Moi', 'Da su dung', and 'NaN'

### 9 - Which month in 2018 we see the highest number of (distinct ads)?

### 10- Compare the distinct ads per hour in September, October, and November? Which month and which hour has top ads?