In [1]:
import pandas as pd
attention_df=pd.read_csv(r'C:\Users\MCBB\Documents\GitHub\MCI_Python_28S_Level_1\Assignments\Session_04\sample_data.csv')
attention_df

,account_id,ad_id,event_name,timestamp,platform,category_name,region_name,condition_ad_name,price
0,249683985899310273,-159265360436186278,order,2018-05-16 17:33:18.350333,on_behalf,Cars,Đông Bắc Bộ,Mới,2.670000e+08
1,2753457128963724056,-6487219347028929285,order,2018-05-04 16:03:08.099983,on_behalf,Cars,Đông Bắc Bộ,Mới,3.990000e+08
2,2753457128963724056,-6487219347028929285,order,2018-05-03 15:13:42.447070,on_behalf,Cars,Đông Bắc Bộ,Mới,3.990000e+08
3,-4397739266189556976,4054922453976773054,order,2018-05-23 11:15:25.932663,on_behalf,Cars,Hà Nội,Mới,7.050000e+08
4,-8143274583979068266,3202538754056800998,order,2018-05-15 17:53:01.634923,on_behalf,Cars,Hà Nội,Mới,6.960000e+08
...,...,...,...,...,...,...,...,...,...
5263293,8737775832852367074,7558913848295455813,order,2018-04-07 10:19:17.128546,desktop_web,"TV, Speakers, MP3 players",Hải Phòng Nam Định Thái Bình,NaN,1.200000e+06
5263294,7673426593582018549,-713616185282621843,order,2018-03-16 19:04:23.470079,desktop_web,"TV, Speakers, MP3 players",Hải Phòng Nam Định Thái Bình,NaN,2.300000e+05
5263295,-1208871471016587299,-4114509068740860568,order,2018-02-21 17:03:44.234105,desktop_web,"TV, Speakers, MP3 players",Hải Phòng Nam Định Thái Bình,NaN,5.500000e+05
5263296,9118532601929018655,2103537130174281429,order,2018-12-06 14:22:24.461284,desktop_web,PTY-Houses,Hải Phòng Nam Định Thái Bình,NaN,1.800000e+09
5263297,1718507954172257075,-1564016634442824415,order,2018-04-07 09:22:23.395420,desktop_web,"Specialized equipments, Agricultural breeds",Hải Phòng Nam Định Thái Bình,Mới,4.900000e+05

### 1. How many distinct account_id on each platform?

In [20]:
attention_df.groupby('platform').account_id.nunique()

platform
android         10789
desktop_web     11910
ios             10773
mobile_web       6154
on_behalf          36
unknown        108990
Name: account_id, dtype: int64

In [21]:
attention_df.account_id.nunique()

108990

In [53]:
attention_df.groupby('platform')['account_id'].nunique()

platform
android         10789
desktop_web     11910
ios             10773
mobile_web       6154
on_behalf          36
unknown        108990
Name: account_id, dtype: int64

### 2. How many distinct ad_id on each platform?

In [5]:
attention_df.ad_id.nunique()

3678082

In [22]:
attention_df.groupby('platform').ad_id.nunique()

platform
android         130551
desktop_web     144673
ios             144161
mobile_web       40165
on_behalf           82
unknown        3669226
Name: ad_id, dtype: int64

### 3. For each category_name how many ad is advertised?

In [7]:
attention_df.category_name.value_counts()

PTY-Houses                       842357
Mobile Phones                    781435
Motorbikes                       528333
PTY-Land                         415120
Computers, Laptops               351123
                                  ...
Other household items 14110         139
Ornamental plant & decoration        41
Other pet                            36
Fan                                  12
Lighting                              9
Name: category_name, Length: 64, dtype: int64

In [9]:
attention_df.category_name.nunique()

64

### 4. Give me top 5 category_name how having the highest number of ads?

In [30]:
att=attention_df.groupby('category_name').ad_id.count()
att

category_name
Accessories                    121942
Aircon                            275
Bags                            10470
Bed & bedding                     453
Bicycles                        23474
                                ...
Trucks                          52772
Vehicles parts, Accessories     56459
Video games                       662
Washing machine                   202
Watch                           74707
Name: ad_id, Length: 64, dtype: int64

In [35]:
att2=att.sort_values(ascending=False)
att2.head(5)

category_name
PTY-Houses            842357
Mobile Phones         781435
Motorbikes            528333
PTY-Land              415120
Computers, Laptops    351123
Name: ad_id, dtype: int64

### 5.Give me top 5 category_name how having the lowest number of ads?

In [39]:
att3=att.sort_values(ascending=True)
att3.head(5)

category_name
Lighting                           9
Fan                               12
Other pet                         36
Ornamental plant & decoration     41
Other household items 14110      139
Name: ad_id, dtype: int64

### 6. Give me the average price for all distinct ads within each category?

In [40]:
attention_df.groupby('category_name').price.mean()

category_name
Accessories                    8.808542e+06
Aircon                         5.913818e+06
Bags                           8.026387e+07
Bed & bedding                  1.482936e+06
Bicycles                       3.262726e+06
                                   ...
Trucks                         6.693941e+08
Vehicles parts, Accessories    1.141225e+08
Video games                    2.210399e+06
Washing machine                1.349307e+07
Watch                          3.596161e+07
Name: price, Length: 64, dtype: float64

In [45]:
attention_df.groupby('category_name').agg(mean_price=('price', 'mean'))

                               mean_price
category_name
Accessories                  8.808542e+06
Aircon                       5.913818e+06
Bags                         8.026387e+07
Bed & bedding                1.482936e+06
Bicycles                     3.262726e+06
...                                   ...
Trucks                       6.693941e+08
Vehicles parts, Accessories  1.141225e+08
Video games                  2.210399e+06
Washing machine              1.349307e+07
Watch                        3.596161e+07

[64 rows x 1 columns]

In [51]:
att4=attention_df.groupby('category_name')['ad_id'].nunique()
att4

category_name
Accessories                    106074
Aircon                              9
Bags                             8510
Bed & bedding                      19
Bicycles                        18087
                                ...
Trucks                          10970
Vehicles parts, Accessories     50158
Video games                       516
Washing machine                     5
Watch                           51624
Name: ad_id, Length: 64, dtype: int64

### 7. Give me the average price for all distinct ads within each region_name?

In [54]:
attention_df.groupby('region_name').agg(mean_price=('price', 'mean'))

                                mean_price
region_name
Bình Trị Thừa Thiên Huế       4.143188e+08
Các tỉnh lân cận Hà Nội       3.186963e+08
Cần Thơ - Tây Nam Bộ          4.101916e+08
Hà Nội                        6.645161e+08
Hải Phòng Nam Định Thái Bình  1.573403e+08
Nam Trung Bộ                  9.059112e+08
Quảng Nam Đà Nẵng             9.412990e+08
Thanh Nghệ Tĩnh               2.442715e+08
Tp Hồ Chí Minh                1.302872e+09
Tây Bắc Bộ                    3.616878e+08
Tây Nguyên                    6.075989e+08
Đông Bắc Bộ                   2.312546e+08
Đông Nam Bộ                   7.097406e+08

### 8. Give details of condition_ad_name for all ads within each category? For example, for category cars, how many ads is" Moi", " Da su dung", and "NaN"

In [57]:
attention_df.groupby(['category_name', 'condition_ad_name']).agg(count_ads=('ad_id', 'count', fill_value=0))

SyntaxError: invalid syntax (<ipython-input-57-807916109570>, line 1)