In [1]:
import pandas as pd
attention_df=pd.read_csv(r'C:\Users\MCBB\Documents\GitHub\MCI_Python_28S_Level_1\Assignments\Session_04\sample_data.csv')
attention_df

,account_id,ad_id,event_name,timestamp,platform,category_name,region_name,condition_ad_name,price
0,249683985899310273,-159265360436186278,order,2018-05-16 17:33:18.350333,on_behalf,Cars,Đông Bắc Bộ,Mới,2.670000e+08
1,2753457128963724056,-6487219347028929285,order,2018-05-04 16:03:08.099983,on_behalf,Cars,Đông Bắc Bộ,Mới,3.990000e+08
2,2753457128963724056,-6487219347028929285,order,2018-05-03 15:13:42.447070,on_behalf,Cars,Đông Bắc Bộ,Mới,3.990000e+08
3,-4397739266189556976,4054922453976773054,order,2018-05-23 11:15:25.932663,on_behalf,Cars,Hà Nội,Mới,7.050000e+08
4,-8143274583979068266,3202538754056800998,order,2018-05-15 17:53:01.634923,on_behalf,Cars,Hà Nội,Mới,6.960000e+08
...,...,...,...,...,...,...,...,...,...
5263293,8737775832852367074,7558913848295455813,order,2018-04-07 10:19:17.128546,desktop_web,"TV, Speakers, MP3 players",Hải Phòng Nam Định Thái Bình,NaN,1.200000e+06
5263294,7673426593582018549,-713616185282621843,order,2018-03-16 19:04:23.470079,desktop_web,"TV, Speakers, MP3 players",Hải Phòng Nam Định Thái Bình,NaN,2.300000e+05
5263295,-1208871471016587299,-4114509068740860568,order,2018-02-21 17:03:44.234105,desktop_web,"TV, Speakers, MP3 players",Hải Phòng Nam Định Thái Bình,NaN,5.500000e+05
5263296,9118532601929018655,2103537130174281429,order,2018-12-06 14:22:24.461284,desktop_web,PTY-Houses,Hải Phòng Nam Định Thái Bình,NaN,1.800000e+09
5263297,1718507954172257075,-1564016634442824415,order,2018-04-07 09:22:23.395420,desktop_web,"Specialized equipments, Agricultural breeds",Hải Phòng Nam Định Thái Bình,Mới,4.900000e+05

### 1. How many distinct account_id on each platform?

In [2]:
attention_df.groupby('platform').account_id.nunique()

platform
android         10789
desktop_web     11910
ios             10773
mobile_web       6154
on_behalf          36
unknown        108990
Name: account_id, dtype: int64

In [3]:
attention_df.account_id.nunique()

108990

In [53]:
attention_df.groupby('platform')['account_id'].nunique()

platform
android         10789
desktop_web     11910
ios             10773
mobile_web       6154
on_behalf          36
unknown        108990
Name: account_id, dtype: int64

### 2. How many distinct ad_id on each platform?

In [5]:
attention_df.ad_id.nunique()

3678082

In [22]:
attention_df.groupby('platform').ad_id.nunique()

platform
android         130551
desktop_web     144673
ios             144161
mobile_web       40165
on_behalf           82
unknown        3669226
Name: ad_id, dtype: int64

### 3. For each category_name how many ad is advertised?

In [7]:
attention_df.category_name.value_counts()

PTY-Houses                       842357
Mobile Phones                    781435
Motorbikes                       528333
PTY-Land                         415120
Computers, Laptops               351123
                                  ...
Other household items 14110         139
Ornamental plant & decoration        41
Other pet                            36
Fan                                  12
Lighting                              9
Name: category_name, Length: 64, dtype: int64

In [9]:
attention_df.category_name.nunique()

64

### 4. Give me top 5 category_name how having the highest number of ads?

In [30]:
att=attention_df.groupby('category_name').ad_id.count()
att

category_name
Accessories                    121942
Aircon                            275
Bags                            10470
Bed & bedding                     453
Bicycles                        23474
                                ...
Trucks                          52772
Vehicles parts, Accessories     56459
Video games                       662
Washing machine                   202
Watch                           74707
Name: ad_id, Length: 64, dtype: int64

In [35]:
att2=att.sort_values(ascending=False)
att2.head(5)

category_name
PTY-Houses            842357
Mobile Phones         781435
Motorbikes            528333
PTY-Land              415120
Computers, Laptops    351123
Name: ad_id, dtype: int64

### 5.Give me top 5 category_name how having the lowest number of ads?

In [39]:
att3=att.sort_values(ascending=True)
att3.head(5)

category_name
Lighting                           9
Fan                               12
Other pet                         36
Ornamental plant & decoration     41
Other household items 14110      139
Name: ad_id, dtype: int64

### 6. Give me the average price for all distinct ads within each category?

In [40]:
attention_df.groupby('category_name').price.mean()

category_name
Accessories                    8.808542e+06
Aircon                         5.913818e+06
Bags                           8.026387e+07
Bed & bedding                  1.482936e+06
Bicycles                       3.262726e+06
                                   ...
Trucks                         6.693941e+08
Vehicles parts, Accessories    1.141225e+08
Video games                    2.210399e+06
Washing machine                1.349307e+07
Watch                          3.596161e+07
Name: price, Length: 64, dtype: float64

In [45]:
attention_df.groupby('category_name').agg(mean_price=('price', 'mean'))

                               mean_price
category_name
Accessories                  8.808542e+06
Aircon                       5.913818e+06
Bags                         8.026387e+07
Bed & bedding                1.482936e+06
Bicycles                     3.262726e+06
...                                   ...
Trucks                       6.693941e+08
Vehicles parts, Accessories  1.141225e+08
Video games                  2.210399e+06
Washing machine              1.349307e+07
Watch                        3.596161e+07

[64 rows x 1 columns]

In [51]:
att4=attention_df.groupby('category_name')['ad_id'].nunique()
att4

category_name
Accessories                    106074
Aircon                              9
Bags                             8510
Bed & bedding                      19
Bicycles                        18087
                                ...
Trucks                          10970
Vehicles parts, Accessories     50158
Video games                       516
Washing machine                     5
Watch                           51624
Name: ad_id, Length: 64, dtype: int64

### 7. Give me the average price for all distinct ads within each region_name?

In [54]:
attention_df.groupby('region_name').agg(mean_price=('price', 'mean'))

                                mean_price
region_name
Bình Trị Thừa Thiên Huế       4.143188e+08
Các tỉnh lân cận Hà Nội       3.186963e+08
Cần Thơ - Tây Nam Bộ          4.101916e+08
Hà Nội                        6.645161e+08
Hải Phòng Nam Định Thái Bình  1.573403e+08
Nam Trung Bộ                  9.059112e+08
Quảng Nam Đà Nẵng             9.412990e+08
Thanh Nghệ Tĩnh               2.442715e+08
Tp Hồ Chí Minh                1.302872e+09
Tây Bắc Bộ                    3.616878e+08
Tây Nguyên                    6.075989e+08
Đông Bắc Bộ                   2.312546e+08
Đông Nam Bộ                   7.097406e+08

### 8. Give details of condition_ad_name for all ads within each category? For example, for category cars, how many ads is" Moi", " Da su dung", and "NaN"

In [2]:
attention_df.groupby(['category_name', 'condition_ad_name']).agg(count_ads=('ad_id', 'count'))

                                   count_ads
category_name   condition_ad_name
Accessories     Mới                     2412
                Đã sử dụng             23379
Aircon          Mới                        6
                Đã sử dụng               269
Bags            Mới                     6635
...                                      ...
Video games     Mới                       85
                Đã sử dụng               330
Washing machine Đã sử dụng               202
Watch           Mới                    27039
                Đã sử dụng             47584

[106 rows x 1 columns]

### 9. Which month in 2021 we see the highest number of distinct ads?

In [64]:
import datetime as dt
import pandas as pd

day = pd.Timestamp(dt.date(2016, 2, 29)).day
day

29

In [36]:
import pandas as pd
sr = attention_df['timestamp']
sr = pd.to_datetime(sr)
print(sr)

0         2018-05-16 17:33:18.350333
1         2018-05-04 16:03:08.099983
2         2018-05-03 15:13:42.447070
3         2018-05-23 11:15:25.932663
4         2018-05-15 17:53:01.634923
                     ...
5263293   2018-04-07 10:19:17.128546
5263294   2018-03-16 19:04:23.470079
5263295   2018-02-21 17:03:44.234105
5263296   2018-12-06 14:22:24.461284
5263297   2018-04-07 09:22:23.395420
Name: timestamp, Length: 5263298, dtype: datetime64[ns]

In [65]:
result = sr.dt.hour
print(result)

0          17
1          16
2          15
3          11
4          17
           ..
5263293    10
5263294    19
5263295    17
5263296    14
5263297     9
Name: timestamp, Length: 5263298, dtype: int64

In [56]:
attention_df['Tháng']=attention_df['timestamp']
attention_df['Tháng']= pd.to_datetime(attention_df['Tháng'])
attention_df['Tháng']= attention_df['Tháng'].dt.month
attention_df

,account_id,ad_id,event_name,timestamp,platform,category_name,region_name,condition_ad_name,price,Tháng
0,249683985899310273,-159265360436186278,order,2018-05-16 17:33:18.350333,on_behalf,Cars,Đông Bắc Bộ,Mới,2.670000e+08,5
1,2753457128963724056,-6487219347028929285,order,2018-05-04 16:03:08.099983,on_behalf,Cars,Đông Bắc Bộ,Mới,3.990000e+08,5
2,2753457128963724056,-6487219347028929285,order,2018-05-03 15:13:42.447070,on_behalf,Cars,Đông Bắc Bộ,Mới,3.990000e+08,5
3,-4397739266189556976,4054922453976773054,order,2018-05-23 11:15:25.932663,on_behalf,Cars,Hà Nội,Mới,7.050000e+08,5
4,-8143274583979068266,3202538754056800998,order,2018-05-15 17:53:01.634923,on_behalf,Cars,Hà Nội,Mới,6.960000e+08,5
...,...,...,...,...,...,...,...,...,...,...
5263293,8737775832852367074,7558913848295455813,order,2018-04-07 10:19:17.128546,desktop_web,"TV, Speakers, MP3 players",Hải Phòng Nam Định Thái Bình,NaN,1.200000e+06,4
5263294,7673426593582018549,-713616185282621843,order,2018-03-16 19:04:23.470079,desktop_web,"TV, Speakers, MP3 players",Hải Phòng Nam Định Thái Bình,NaN,2.300000e+05,3
5263295,-1208871471016587299,-4114509068740860568,order,2018-02-21 17:03:44.234105,desktop_web,"TV, Speakers, MP3 players",Hải Phòng Nam Định Thái Bình,NaN,5.500000e+05,2
5263296,9118532601929018655,2103537130174281429,order,2018-12-06 14:22:24.461284,desktop_web,PTY-Houses,Hải Phòng Nam Định Thái Bình,NaN,1.800000e+09,12
5263297,1718507954172257075,-1564016634442824415,order,2018-04-07 09:22:23.395420,desktop_web,"Specialized equipments, Agricultural breeds",Hải Phòng Nam Định Thái Bình,Mới,4.900000e+05,4

In [63]:
att5 = attention_df.groupby('Tháng').agg(count_ads=('ad_id', 'nunique')) 
att6 = att5.sort_values('count_ads', ascending=False) 
att6.head(1)

       count_ads
Tháng
1         753773

### 10. Compare the distinct ads per hour in September, October, and November? Which month and which hour has top ads?

In [94]:
attention_df['Giờ qc']=attention_df['timestamp']
attention_df['Giờ qc']= pd.to_datetime(attention_df['Giờ qc'])
attention_df['Giờ qc']= attention_df['Giờ qc'].dt.hour
attention_df.head(6)

,account_id,ad_id,event_name,timestamp,platform,category_name,region_name,condition_ad_name,price,Tháng,Giờ qc
0,249683985899310273,-159265360436186278,order,2018-05-16 17:33:18.350333,on_behalf,Cars,Đông Bắc Bộ,Mới,267000000.0,5,17
1,2753457128963724056,-6487219347028929285,order,2018-05-04 16:03:08.099983,on_behalf,Cars,Đông Bắc Bộ,Mới,399000000.0,5,16
2,2753457128963724056,-6487219347028929285,order,2018-05-03 15:13:42.447070,on_behalf,Cars,Đông Bắc Bộ,Mới,399000000.0,5,15
3,-4397739266189556976,4054922453976773054,order,2018-05-23 11:15:25.932663,on_behalf,Cars,Hà Nội,Mới,705000000.0,5,11
4,-8143274583979068266,3202538754056800998,order,2018-05-15 17:53:01.634923,on_behalf,Cars,Hà Nội,Mới,696000000.0,5,17
5,6007291878672279226,-1011458500454390912,order,2018-05-03 14:39:53.379256,on_behalf,Cars,Hà Nội,Mới,997000000.0,5,14

In [95]:
att7 = attention_df.groupby(['Tháng', 'Giờ qc']).agg(count_ads=('ad_id', 'nunique')) 
att7

              count_ads
Tháng Giờ qc
1     0            5628
      1            2868
      2            1436
      3             934
      4             830
...                 ...
12    19           9291
      20           7804
      21           6261
      22           4694
      23           2564

[288 rows x 1 columns]

In [87]:
att9 = attention_df.query('Tháng == [9, 10, 11]')
att10 = att9.groupby(['Tháng', 'Giờ qc']).agg(count_ads=('ad_id', 'nunique')) 
att10

              count_ads
Tháng Giờ qc
9     0            1343
      1             616
      2             367
      3             260
      4             301
...                 ...
11    19           9794
      20           8690
      21           7066
      22           5074
      23           2830

[72 rows x 1 columns]

In [83]:
attention_df[attention_df.Tháng == 9]

,account_id,ad_id,event_name,timestamp,platform,category_name,region_name,condition_ad_name,price,Tháng,Giờ qc
120,3750558501962524661,5430155544528390751,order,2018-09-13 11:21:27.221203,ios,Cars,Thanh Nghệ Tĩnh,Đã sử dụng,38000000.0,9,11
130,3750558501962524661,5244521237572284793,order,2018-09-20 11:42:48.179393,ios,Motorbikes,Thanh Nghệ Tĩnh,Đã sử dụng,9500000.0,9,11
131,337564007062257526,1462209804424116668,order,2018-09-02 11:04:23.317745,ios,Trucks,Đông Bắc Bộ,Đã sử dụng,306000000.0,9,11
132,2005110683045927617,-7242441100778391300,order,2018-09-30 19:21:12.148146,ios,Trucks,Đông Bắc Bộ,Đã sử dụng,430000000.0,9,19
137,3750558501962524661,-5450845726138401422,order,2018-09-26 18:51:52.964669,ios,Motorbikes,Thanh Nghệ Tĩnh,Đã sử dụng,21500000.0,9,18
...,...,...,...,...,...,...,...,...,...,...,...
5263228,8737775832852367074,1806356802085183521,order,2018-09-24 17:31:37.181946,desktop_web,Accessories,Hải Phòng Nam Định Thái Bình,Đã sử dụng,300000.0,9,17
5263258,-6301849814067424392,7993687842822141521,order,2018-09-16 07:46:22.373351,desktop_web,Motorbikes,Hải Phòng Nam Định Thái Bình,Đã sử dụng,15800000.0,9,7
5263275,-1208871471016587299,2490336592844329634,order,2018-09-28 10:45:22.606856,desktop_web,Accessories,Hải Phòng Nam Định Thái Bình,NaN,450000.0,9,10
5263287,3426660929536791293,-6078882483463721042,order,2018-09-25 09:15:43.325730,desktop_web,Desktop,Hải Phòng Nam Định Thái Bình,NaN,3200000.0,9,9
5263288,3426660929536791293,-6078882483463721042,order,2018-09-30 10:35:03.133283,desktop_web,Desktop,Hải Phòng Nam Định Thái Bình,NaN,3200000.0,9,10

In [88]:
att11 = att10.groupby('Tháng').agg(sum_ads=('count_ads', 'sum'))
att11

       sum_ads
Tháng
9       291812
10      309036
11      291659

In [93]:
att_tháng_max = att11.sort_values('sum_ads', ascending=False)
att_tháng_max.head(1)

       sum_ads
Tháng
10      309036

In [90]:
att12 = att10.groupby('Giờ qc').agg(sum_ads=('count_ads', 'sum'))
att12

        sum_ads
Giờ qc
0          4112
1          1896
2          1045
3           716
4           913
5          2791
6         12176
7         36050
8         76892
9         96985
10        94716
11        76976
12        55848
13        57034
14        68466
15        64959
16        57050
17        45617
18        34748
19        30502
20        26825
21        21916
22        15649
23         8625

In [92]:
att_giờ_max = att12.sort_values('sum_ads', ascending=False)
att_giờ_max.head(1)

        sum_ads
Giờ qc
9         96985