In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Data từ Section 4:

In [8]:
data = pd.read_csv(r'C:\Users\Laptop EDG\Downloads\HW_4\sample_data.csv')
data.head(5)

,account_id,ad_id,event_name,timestamp,platform,category_name,region_name,condition_ad_name,price
0,249683985899310273,-159265360436186278,order,2018-05-16 17:33:18.350333,on_behalf,Cars,Đông Bắc Bộ,Mới,267000000.0
1,2753457128963724056,-6487219347028929285,order,2018-05-04 16:03:08.099983,on_behalf,Cars,Đông Bắc Bộ,Mới,399000000.0
2,2753457128963724056,-6487219347028929285,order,2018-05-03 15:13:42.447070,on_behalf,Cars,Đông Bắc Bộ,Mới,399000000.0
3,-4397739266189556976,4054922453976773054,order,2018-05-23 11:15:25.932663,on_behalf,Cars,Hà Nội,Mới,705000000.0
4,-8143274583979068266,3202538754056800998,order,2018-05-15 17:53:01.634923,on_behalf,Cars,Hà Nội,Mới,696000000.0

In [9]:
data.timestamp.dtype

dtype('O')

In [12]:
data.timestamp=pd.to_datetime(data.timestamp)

In [13]:
data.timestamp.dt.year.max()

2018