In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
smokers=pd.read_csv(r'C:\Users\Laptop EDG\Downloads\smokers\smokers.csv')
smokers

      Year State  Value
0     2015    RI    0.2
1     2015    VT    0.3
2     2017    VA    0.3
3     2017    DE    0.4
4     2015    RI    0.4
...    ...   ...    ...
3514  2001    MT   57.2
3515  2001    SD   59.2
3516  1999    MT   61.7
3517  1995    AK   61.9
3518  2003    SD   62.3

[3519 rows x 3 columns]

In [3]:
len(smokers)

3519

In [4]:
smokers.shape[0]

3519

In [9]:
smokers.groupby('State').Value.mean().count()

51